<div class="container d-flex row justify-content-evenly">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-2" style="width: 18rem;">
        <div class="card-body text-center">
            <img src="https://runtime.lappiz.io/assets/images/Millete/empresas.PNG" class="img-container" />
            <p><span>Habitaciones</span></p>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-2" style="width: 18rem;">
        <div class="card-body text-center">
            <img src="https://runtime.lappiz.io/assets/images/Millete/clientes.PNG" class="img-container" />
            <p><span>Doctores</span></p>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-2" style="width: 18rem;">
        <div class="card-body text-center">
            <img src="https://runtime.lappiz.io/assets/images/Millete/clientes.PNG" class="img-container" />
            <p><span>Enfermeras</span></p>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-2" style="width: 18rem;">
        <div class="card-body text-center">
            <img src="https://runtime.lappiz.io/assets/images/Millete/clientes.PNG" class="img-container" />
            <p><span>Pacientes</span></p>
        </div>
    </div>
</div>